parameters:
- name: targetPath
  type: string
  default: '$(Pipeline.Workspace)'
- name: artifactName
  type: string
  default: 'drop'
- name: properties
  type: string
  default: ''


steps:
- task: PublishPipelineArtifact@1
  displayName: 'Publish Pipeline Artifact ${{ parameters.artifactName }} '
  inputs:
    targetPath: ${{ parameters.targetPath }}
    artifact:  's/${{ parameters.artifactName }}'
    properties: ${{ parameters.properties }}
